<!DOCTYPE html>
<html lang="en" data-theme="synthwave">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Ride", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="h-screen flex flex-col bd-black font-thin">
    <header class="w-screen relative bg-neutral">
      <!--<.live_component module={HeaderComponent} id="header"/>-->
      <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
          <div class="flex justify-start lg:w-0 lg:flex-1">
            <a href="#">
              <span class="sr-only ">Workflow</span>
              <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">
            </a>
          </div>
          <div class="-mr-2 -my-2 md:hidden">
            <button type="button" class="bg-neutral rounded-md p-2 inline-flex items-center justify-center text-gray-100 hover:bg-primary focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
              <span class="sr-only">Open menu</span>
              <!-- Heroicon name: outline/menu -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
          <nav class="hidden md:flex space-x-10">

            <a href="https://hexdocs.pm/phoenix/overview.html" class="group -m-3 p-3 flex items-center rounded-md text-base text-gray-100 hover:bg-primary">
              <span>Phoenix</span>

              <svg class="text-primary group-hover:text-white ml-2 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z" />
              </svg>
            </a>

            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <%= link class: "group -m-3 p-3 flex items-center rounded-md text-base text-gray-100 hover:bg-primary", to: Routes.live_dashboard_path(@conn, :home) do %>
                <svg class="flex-shrink-0 h-6 w-6 text-primary group-hover:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
                <span class="ml-3">Live Dashboard</span>
              <% end %>
            <% end %>

            <div class="dropdown -m-3">
              <div tabindex="0" class="group my-1 p-3 flex items-center rounded-md text-base text-gray-100  hover:bg-primary">
                 <svg class="text-primary group-hover:text-white ml-2 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                </svg>
                <span class="ml-3">Get Started</span>
              </div>
              <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
                <li>
                  <a href="https://hexdocs.pm/phoenix/overview.html">Phoenix doc</a>
                </li> 
                <li>
                  <a href="https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.html">LiveView doc</a>
                </li> 
                <li>
                  <a href="/petal">Website doc</a>
                </li>
              </ul>
            </div>

            <!--

            <a href="https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.html" class="group -m-3 p-3 flex items-center rounded-md text-base text-gray-100 hover:bg-primary">
              <svg class="flex-shrink-0 h-6 w-6 text-primary group-hover:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
              </svg>
              <span class="ml-3">Get Started</span>
            </a>

            <div class="flow-root">
              <a href="https://phoenixframework.org/" class="phx-logo w-40 -m-3 p-3 flex items-center rounded-md text-base font-medium text-gray-900 hover:bg-gray-100">
                <img src={Routes.static_path(@conn, "/images/phoenix.png")} alt="Phoenix Framework Logo"/>
              </a>
            </div>

                              
            <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
            </svg>
            -->
          </nav>
          <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
            <a href="#" class="whitespace-nowrap text-base font font-light text-gray-500 hover:text-gray-300">
              Sign in
            </a>
            <a href="#" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-light text-white bg-primary hover:bg-primary/75">
              Sign up
            </a>
          </div>
        </div>
      </div>
    </header>
    <main class="w-screen grow bg-gradient-to-r from-primary to-secondary px-2 md:px-8 lg:px-[10%] py-2 md:py-4 lg:py-8">
      <div class="bg-neutral/[.9] h-full rounded-box p-4">
        <%= @inner_content %>
      </div>
    </main>
    <footer class="p-4 footer bg-base-300 text-base-content footer-center">
      <div>
        <p>Copyright © <%= DateTime.utc_now |> Map.fetch!(:year) %> - All right reserved by Thibault Santonja</p>
      </div>
    </footer>
  </body>
</html>
